<div class="container">
  <br>
  <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" data-map="my-shared-places" name="my-places" href="#tab-1">Places</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" name="all-users" href="#tab-2">Users</a>
        </li>
    </ul>

  <!-- Tab panes -->
    <div class="tab-content">
        <div id="tab-1" class="container tab-pane active"><br>
            <div class="map" id="map"></div>
            <div class="row">
              <p><h3>Please note that, <span class="yellow">yellow</span> coloured marker denotes the location(s) shared with you by other users and the <span class="green">green</span> ones are the location shared by you.</h3></p>
            </div>
        </div>
        <div id="tab-2" class="container tab-pane"><br>
          <div>
            <%@all_users.each do |user|%>
              <a href="/<%=user.username%>" target="_blannk"><h3><%= user.fullname%></h3></a></br>
            <%end%>
          </div>
        </div>

        <%= link_to share_location_path,:target=>"blank" do %>
            <button class="btn btn-success btn md" title="click to share location">Share Location</button>
        <%end%>
    </div>
</div>

